USE [ispp3101]
GO
/****** Object:  StoredProcedure [dbo].[AddCategory]    Script Date: 27.11.2025 11:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddCategory]
    @name NVARCHAR(100),
    @id int OUTPUT 
AS
BEGIN
	INSERT INTO Category([Name]) 
	VALUES(@name);
	SET @id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[AddCinemaHall]    Script Date: 27.11.2025 11:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddCinemaHall]
    @cinemaName NVARCHAR(50) = 'Титан-Арена',
    @hallNumber TINYINT,
	@rowsCount INT,
	@seatsCount INT
AS
BEGIN
	DECLARE @hallId INT;
	SET @hallId = ISNULL((SELECT  HallId
					FROM CinemaHall
					WHERE CinemaName = @cinemaName AND HallNumber = @hallNumber), 0);
	
	IF @hallId = 0
		INSERT INTO CinemaHall(CinemaName, HallNumber, RowsCount, SeatsCount, IsVip)
		VALUES (@cinemaName, @hallNumber, @rowsCount, @seatsCount, 0)
	ELSE
		UPDATE CinemaHall
		SET RowsCount = @rowsCount,
			SeatsCount = @seatsCount
		WHERE HallId = @hallId
END
GO
/****** Object:  StoredProcedure [dbo].[AddTicket]    Script Date: 27.11.2025 11:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddTicket]
    @phone char(11),
    @sessionId int,
	@row tinyint,
	@seat tinyint,
	@id INT OUTPUT
AS
BEGIN
	INSERT INTO Ticket(SessionId, VisitorId, Row, Seat)
	SELECT @sessionId, Visitor.VisitorId, @row, @seat
	FROM Visitor 
	WHERE Visitor.Phone = @phone

	SET @id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[AddVisitor]    Script Date: 27.11.2025 11:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddVisitor]
	@phone CHAR(11),
	@id INT OUTPUT
AS
	INSERT INTO Visitor(Phone)
	VALUES (@phone)
	SET @id = SCOPE_IDENTITY()
GO
/****** Object:  StoredProcedure [dbo].[GetGamesByPrice]    Script Date: 27.11.2025 11:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetGamesByPrice] 
    @maxPrice DECIMAL(16,2) 
AS
    SELECT *
	FROM Game
	WHERE Price <= @maxPrice
GO
/****** Object:  StoredProcedure [dbo].[GetVisitorTickets]    Script Date: 27.11.2025 11:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetVisitorTickets]
	@number VARCHAR(11)
AS
	PRINT 'Параметр: [' + @number + ']'
	SELECT Ticket.* 
	FROM Ticket
		JOIN Visitor ON Visitor.VisitorId = Ticket.VisitorId
	WHERE Visitor.Phone = @number
GO
