USE [ispp3101]
GO
/****** Object:  UserDefinedFunction [dbo].[GetGamesCount]    Script Date: 27.11.2025 11:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetGamesCount]
(
    @categoryId int
)
RETURNS INT
AS
BEGIN
	DECLARE @count int
    SELECT @count = COUNT(*)
	FROM Game
	WHERE CategoryId = @categoryId;

	RETURN @count
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetVisitorWatchMinuties]    Script Date: 27.11.2025 11:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Task1
CREATE FUNCTION [dbo].[GetVisitorWatchMinuties]
(
    @id int
)
RETURNS INT
AS
BEGIN
	DECLARE @watchtime int
	SET @watchtime = (SELECT SUM(Film.Duration)
	FROM Ticket INNER JOIN
		 Session ON Ticket.SessionId = Session.SessionId INNER JOIN
		 Film ON Session.FilmId = Film.FilmId
	WHERE Ticket.VisitorId = @id);

	RETURN ISNULL(@watchtime, 0);
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetFilmsByGenre]    Script Date: 27.11.2025 11:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetFilmsByGenre]
(
    @genre nvarchar(50)
)
RETURNS TABLE AS RETURN
(
    SELECT Film.FilmId, Film.Name, STRING_AGG(Genre.Name, ', ') AS Genres
	FROM Film INNER JOIN
		 FilmGenre ON Film.FilmId = FilmGenre.FilmId INNER JOIN
		 Genre ON FilmGenre.GenreId = Genre.GenreId
	
	GROUP BY Film.FilmId, Film.Name
	HAVING CHARINDEX(@genre, STRING_AGG(dbo.Genre.Name, ', ')) > 0
)
GO
/****** Object:  UserDefinedFunction [dbo].[GetGamesByPrice2]    Script Date: 27.11.2025 11:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetGamesByPrice2]
(
    @maxPrice int = 1000
)
RETURNS TABLE AS RETURN
(
    SELECT *
	FROM Game
	WHERE Price < @maxPrice
)
GO
/****** Object:  UserDefinedFunction [dbo].[GetGamesByPrices]    Script Date: 27.11.2025 11:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetGamesByPrices]
(
    @min DECIMAL(16,2),
    @max DECIMAL(16,2)
)
RETURNS TABLE AS RETURN
    SELECT *
	FROM Game
	WHERE Price <= @max AND Price >= @min
GO
/****** Object:  UserDefinedFunction [dbo].[GetSessionByFilmId]    Script Date: 27.11.2025 11:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetSessionByFilmId]
(
    @id INT
)
RETURNS TABLE AS RETURN
    SELECT [Session].*
	FROM [Session]
		JOIN Film ON [Session].FilmId = Film.FilmId
	WHERE Film.FilmId = @id
GO
/****** Object:  UserDefinedFunction [dbo].[GetTodayFilmsByCinema]    Script Date: 27.11.2025 11:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetTodayFilmsByCinema]
(
    @cinemaName nvarchar(50)
)
RETURNS TABLE AS RETURN
(
    SELECT Film.FilmId, Film.Name, FORMAT(Session.StartDate, 'HH:mm') AS StartTime, CinemaHall.HallNumber
	FROM CinemaHall INNER JOIN
		 Session ON CinemaHall.HallId = Session.HallId INNER JOIN
		 Film ON Session.FilmId = Film.FilmId
	WHERE CinemaHall.CinemaName = @cinemaName AND 
		(CAST(Session.StartDate AS date) = CAST(GETDATE() AS date))
)
GO
