USE [master]
GO
/****** Object:  Database [ispp3101]    Script Date: 16.12.2025 11:07:24 ******/
CREATE DATABASE [ispp3101]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ispp3101', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQL\MSSQL\DATA\ispp3101.mdf' , SIZE = 14336KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ispp3101_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQL\MSSQL\DATA\ispp3101_log.ldf' , SIZE = 12352KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ispp3101].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ispp3101]
GO
/****** Object:  User [userReader4]    Script Date: 16.12.2025 11:07:24 ******/
CREATE USER [userReader4] FOR LOGIN [reader4] WITH DEFAULT_SCHEMA=[ispp3101]
GO
/****** Object:  User [userReader3]    Script Date: 16.12.2025 11:07:24 ******/
CREATE USER [userReader3] FOR LOGIN [reader3] WITH DEFAULT_SCHEMA=[ispp3101]
GO
/****** Object:  User [userReader2]    Script Date: 16.12.2025 11:07:24 ******/
CREATE USER [userReader2] FOR LOGIN [reader2] WITH DEFAULT_SCHEMA=[ispp3101]
GO
/****** Object:  User [userReader1]    Script Date: 16.12.2025 11:07:24 ******/
CREATE USER [userReader1] FOR LOGIN [reader1] WITH DEFAULT_SCHEMA=[ispp3101]
GO
/****** Object:  User [user4]    Script Date: 16.12.2025 11:07:24 ******/
CREATE USER [user4] FOR LOGIN [login4] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [user3]    Script Date: 16.12.2025 11:07:24 ******/
CREATE USER [user3] FOR LOGIN [login3] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [user2]    Script Date: 16.12.2025 11:07:24 ******/
CREATE USER [user2] FOR LOGIN [login2] WITH DEFAULT_SCHEMA=[user2]
GO
/****** Object:  User [user1]    Script Date: 16.12.2025 11:07:24 ******/
CREATE USER [user1] FOR LOGIN [login1] WITH DEFAULT_SCHEMA=[db_datareader]
GO
/****** Object:  User [ispp_test]    Script Date: 16.12.2025 11:07:24 ******/
CREATE USER [ispp_test] FOR LOGIN [ispp3115] WITH DEFAULT_SCHEMA=[ispp_test]
GO
ALTER ROLE [db_datareader] ADD MEMBER [userReader4]
GO
ALTER ROLE [db_datareader] ADD MEMBER [userReader3]
GO
ALTER ROLE [db_datareader] ADD MEMBER [userReader2]
GO
ALTER ROLE [db_datareader] ADD MEMBER [userReader1]
GO
ALTER ROLE [db_datareader] ADD MEMBER [user2]
GO
ALTER ROLE [db_owner] ADD MEMBER [user1]
GO
/****** Object:  Schema [ispp_test]    Script Date: 16.12.2025 11:07:24 ******/
CREATE SCHEMA [ispp_test]
GO
/****** Object:  UserDefinedFunction [dbo].[GetGamesCount]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetGamesCount]
(
    @categoryId int
)
RETURNS INT
AS
BEGIN
	DECLARE @count int
    SELECT @count = COUNT(*)
	FROM Game
	WHERE CategoryId = @categoryId;

	RETURN @count
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetVisitorWatchMinuties]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Task1
CREATE FUNCTION [dbo].[GetVisitorWatchMinuties]
(
    @id int
)
RETURNS INT
AS
BEGIN
	DECLARE @watchtime int
	SET @watchtime = (SELECT SUM(Film.Duration)
	FROM Ticket INNER JOIN
		 Session ON Ticket.SessionId = Session.SessionId INNER JOIN
		 Film ON Session.FilmId = Film.FilmId
	WHERE Ticket.VisitorId = @id);

	RETURN ISNULL(@watchtime, 0);
END
GO
/****** Object:  Table [dbo].[Film]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[FilmId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Duration] [smallint] NOT NULL,
	[ReleaseYear] [smallint] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Poster] [varbinary](max) NULL,
	[AgeLimit] [varchar](10) NULL,
	[RentalStart] [date] NULL,
	[RentalFinish] [date] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Film] PRIMARY KEY CLUSTERED 
(
	[FilmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[SessionId] [int] IDENTITY(1,1) NOT NULL,
	[FilmId] [int] NOT NULL,
	[HallId] [tinyint] NOT NULL,
	[Price] [decimal](4, 0) NULL,
	[StartDate] [datetime2](7) NULL,
	[IsFilm3d] [bit] NULL,
 CONSTRAINT [PK_Session] PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaHall]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaHall](
	[HallId] [tinyint] IDENTITY(1,1) NOT NULL,
	[CinemaName] [nvarchar](50) NOT NULL,
	[HallNumber] [tinyint] NOT NULL,
	[RowsCount] [tinyint] NOT NULL,
	[SeatsCount] [tinyint] NOT NULL,
	[IsVip] [bit] NOT NULL,
 CONSTRAINT [PK_CinemaHall] PRIMARY KEY CLUSTERED 
(
	[HallId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewsSessionsFullInfo]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewsSessionsFullInfo]
AS
SELECT        dbo.Session.SessionId, dbo.Film.Name, dbo.CinemaHall.CinemaName, dbo.CinemaHall.HallId, FORMAT(dbo.Session.StartDate, 'HH:mm') AS Start, FORMAT(DATEADD(minute, dbo.Film.Duration, dbo.Session.StartDate), 
                         'HH:mm') AS [End], CAST(dbo.CinemaHall.RowsCount AS int) * CAST(dbo.CinemaHall.SeatsCount AS int) AS SeatsQuantity
FROM            dbo.Session INNER JOIN
                         dbo.CinemaHall ON dbo.Session.HallId = dbo.CinemaHall.HallId INNER JOIN
                         dbo.Film ON dbo.Session.FilmId = dbo.Film.FilmId
GO
/****** Object:  Table [dbo].[Game]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[GameId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](16, 2) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewGamesInfo_2]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewGamesInfo_2]
WITH  VIEW_METADATA
AS
SELECT        GameId, Name, CAST(Price AS int) AS Price
FROM            dbo.Game
WITH CHECK OPTION
GO
/****** Object:  View [dbo].[ViewsSession3DFilmsInfo]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewsSession3DFilmsInfo]
WITH  VIEW_METADATA
AS
SELECT        dbo.Session.SessionId, dbo.Film.Name, dbo.Session.IsFilm3d, dbo.CinemaHall.CinemaName, dbo.CinemaHall.HallNumber, dbo.Session.StartDate
FROM            dbo.Session INNER JOIN
                         dbo.Film ON dbo.Session.FilmId = dbo.Film.FilmId INNER JOIN
                         dbo.CinemaHall ON dbo.Session.HallId = dbo.CinemaHall.HallId
WHERE        (dbo.Session.IsFilm3d = 1) AND (dbo.Session.StartDate >= GETDATE())
WITH CHECK OPTION
GO
/****** Object:  Table [dbo].[FilmGenre]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmGenre](
	[FilmId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
 CONSTRAINT [PK_FilmGenre] PRIMARY KEY CLUSTERED 
(
	[FilmId] ASC,
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[GenreId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewFilmInfo]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewFilmInfo]
AS
SELECT        dbo.Film.FilmId, dbo.Film.Name, dbo.Film.ReleaseYear, CONCAT_WS('', CAST(FLOOR(dbo.Film.Duration / 60) AS VARCHAR(2)), ' ч ', CAST(FLOOR(dbo.Film.Duration % 60) AS VARCHAR(2)), ' м ') AS Duration, 
                         STRING_AGG(dbo.Genre.Name, ', ') AS Genres, dbo.Film.Description, dbo.Film.RentalStart
FROM            dbo.Film INNER JOIN
                         dbo.FilmGenre ON dbo.Film.FilmId = dbo.FilmGenre.FilmId INNER JOIN
                         dbo.Genre ON dbo.FilmGenre.GenreId = dbo.Genre.GenreId
GROUP BY dbo.Film.FilmId, dbo.Film.Name, dbo.Film.ReleaseYear, dbo.Film.Description, dbo.Film.RentalStart, CONCAT_WS('', CAST(FLOOR(dbo.Film.Duration / 60) AS VARCHAR(2)), ' ч ', CAST(FLOOR(dbo.Film.Duration % 60) 
                         AS VARCHAR(2)), ' м ')
GO
/****** Object:  View [dbo].[ViewsFutureFilmsInfo]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewsFutureFilmsInfo]
AS
SELECT        FilmId, Name, ReleaseYear, Duration, Genres, Description, RentalStart
FROM            dbo.ViewFilmInfo
WHERE        (RentalStart >= GETDATE()) AND (RentalStart <= DATEADD(day, 30, GETDATE()))
GO
/****** Object:  UserDefinedFunction [dbo].[GetGamesByPrice2]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetGamesByPrice2]
(
    @maxPrice int = 1000
)
RETURNS TABLE AS RETURN
(
    SELECT *
	FROM Game
	WHERE Price < @maxPrice
)
GO
/****** Object:  UserDefinedFunction [dbo].[GetFilmsByGenre]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetFilmsByGenre]
(
    @genre nvarchar(50)
)
RETURNS TABLE AS RETURN
(
    SELECT Film.FilmId, Film.Name, STRING_AGG(Genre.Name, ', ') AS Genres
	FROM Film INNER JOIN
		 FilmGenre ON Film.FilmId = FilmGenre.FilmId INNER JOIN
		 Genre ON FilmGenre.GenreId = Genre.GenreId
	
	GROUP BY Film.FilmId, Film.Name
	HAVING CHARINDEX(@genre, STRING_AGG(dbo.Genre.Name, ', ')) > 0
)
GO
/****** Object:  UserDefinedFunction [dbo].[GetTodayFilmsByCinema]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetTodayFilmsByCinema]
(
    @cinemaName nvarchar(50)
)
RETURNS TABLE AS RETURN
(
    SELECT Film.FilmId, Film.Name, FORMAT(Session.StartDate, 'HH:mm') AS StartTime, CinemaHall.HallNumber
	FROM CinemaHall INNER JOIN
		 Session ON CinemaHall.HallId = Session.HallId INNER JOIN
		 Film ON Session.FilmId = Film.FilmId
	WHERE CinemaHall.CinemaName = @cinemaName AND 
		(CAST(Session.StartDate AS date) = CAST(GETDATE() AS date))
)
GO
/****** Object:  UserDefinedFunction [dbo].[GetGamesByPrices]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetGamesByPrices]
(
    @min DECIMAL(16,2),
    @max DECIMAL(16,2)
)
RETURNS TABLE AS RETURN
    SELECT *
	FROM Game
	WHERE Price <= @max AND Price >= @min
GO
/****** Object:  UserDefinedFunction [dbo].[GetSessionByFilmId]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetSessionByFilmId]
(
    @id INT
)
RETURNS TABLE AS RETURN
    SELECT [Session].*
	FROM [Session]
		JOIN Film ON [Session].FilmId = Film.FilmId
	WHERE Film.FilmId = @id
GO
/****** Object:  Table [dbo].[Category]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewGamesInfo]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewGamesInfo]
AS
SELECT        dbo.Category.Name, COUNT(dbo.Game.GameId) AS GamesCout
FROM            dbo.Category INNER JOIN
                         dbo.Game ON dbo.Category.CategoryId = dbo.Game.CategoryId
GROUP BY dbo.Category.Name
GO
/****** Object:  View [dbo].[ViewsSessionInfo]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewsSessionInfo]
AS
SELECT        dbo.Session.SessionId, dbo.Film.Name, dbo.CinemaHall.CinemaName, dbo.CinemaHall.HallNumber, dbo.Session.Price, FORMAT(dbo.Session.StartDate, 'HH:mm') AS Start, FORMAT(DATEADD(minute, dbo.Film.Duration, 
                         dbo.Session.StartDate), 'HH:mm') AS [End], dbo.Film.Duration
FROM            dbo.Session INNER JOIN
                         dbo.Film ON dbo.Session.FilmId = dbo.Film.FilmId INNER JOIN
                         dbo.CinemaHall ON dbo.Session.HallId = dbo.CinemaHall.HallId
WHERE        (dbo.Session.StartDate >= GETDATE()) AND (CAST(dbo.Session.StartDate AS date) <= CAST(DATEADD(day, 1, GETDATE()) AS date))
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaPrivilege]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaPrivilege](
	[PrivilegeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CinemaPrivilege] PRIMARY KEY CLUSTERED 
(
	[PrivilegeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaRolePrivilege]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaRolePrivilege](
	[RoleId] [int] NOT NULL,
	[PrivilegeId] [int] NOT NULL,
 CONSTRAINT [PK_CinemaRolePrivilege] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[PrivilegeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaUser]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaUser](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](200) NOT NULL,
	[FailTryAuthQuantity] [int] NOT NULL,
	[UnlockDate] [datetime2](7) NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_CinemaUser] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaUserRole]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaUserRole](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](20) NULL,
 CONSTRAINT [PK_CinemaUserRole] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeletedCategory]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeletedCategory](
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DeletedDate] [datetime2](7) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DeletedCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeletedVisitor]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeletedVisitor](
	[VisitorId] [int] NOT NULL,
	[Phone] [char](11) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[BirthDate] [datetime2](7) NULL,
	[Email] [varchar](150) NULL,
	[DeletedDate] [datetime2](7) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DeletedVisitor] PRIMARY KEY CLUSTERED 
(
	[VisitorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Frame]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Frame](
	[FrameId] [int] IDENTITY(1,1) NOT NULL,
	[FilmId] [int] NOT NULL,
	[FileName] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Frame] PRIMARY KEY CLUSTERED 
(
	[FrameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Import1_Order]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Import1_Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[DateOfOrder] [datetime] NOT NULL,
	[PromocodeId] [int] NULL,
 CONSTRAINT [PK_Import1_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Import1_OrderList]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Import1_OrderList](
	[OrderId] [int] NOT NULL,
	[PizzaId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Import1_OrderList] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[PizzaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Import1_Pizza]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Import1_Pizza](
	[PizzaId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Ingredients] [nvarchar](255) NOT NULL,
	[Weight] [float] NOT NULL,
	[Price] [decimal](6, 2) NOT NULL,
 CONSTRAINT [PK_Import1_Pizza] PRIMARY KEY CLUSTERED 
(
	[PizzaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Import1_Promocode]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Import1_Promocode](
	[PromocodeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Percent] [float] NULL,
 CONSTRAINT [PK_Import1_Promocode] PRIMARY KEY CLUSTERED 
(
	[PromocodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Import1_Promocodes_FilterDatabase]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Import1_Promocodes_FilterDatabase](
	[Name] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Import1_User]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Import1_User](
	[UserId] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Login] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Ip] [varchar](50) NULL,
	[LastEnter] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Import2_Ingredient]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Import2_Ingredient](
	[IngredientId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Import2_Ingredient] PRIMARY KEY CLUSTERED 
(
	[IngredientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Import2_Pizza]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Import2_Pizza](
	[PizzaId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Weight] [float] NOT NULL,
	[Price] [decimal](6, 2) NOT NULL,
 CONSTRAINT [PK_Import2_Pizza] PRIMARY KEY CLUSTERED 
(
	[PizzaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Import2_PizzaIngredient]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Import2_PizzaIngredient](
	[PizzaId] [int] NOT NULL,
	[IngredientId] [int] NOT NULL,
 CONSTRAINT [PK_Import2_PizzaIngredient] PRIMARY KEY CLUSTERED 
(
	[PizzaId] ASC,
	[IngredientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Import2_PizzaIngredients]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Import2_PizzaIngredients](
	[PizzaId] [int] NULL,
	[Name] [nvarchar](255) NULL,
	[Ingredients] [nvarchar](255) NULL,
	[Mass] [float] NULL,
	[Price] [decimal](6, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LW23Comments]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LW23Comments](
	[CommentId] [int] NOT NULL,
	[PostId] [int] NULL,
	[Text] [nvarchar](500) NULL,
 CONSTRAINT [PK_LW23Comments] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LW23Games]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LW23Games](
	[GameId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [varchar](500) NULL,
	[CategoryId] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[LogoFile] [nvarchar](120) NULL,
PRIMARY KEY CLUSTERED 
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LW23Posts]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LW23Posts](
	[PostId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LW23Posts1] PRIMARY KEY CLUSTERED 
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LW23Screenshots]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LW23Screenshots](
	[ScreenshotId] [int] IDENTITY(1,1) NOT NULL,
	[GameId] [int] NOT NULL,
	[FileName] [varchar](100) NOT NULL,
	[Photo] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_LW23Screenshots] PRIMARY KEY CLUSTERED 
(
	[ScreenshotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [int] NOT NULL,
	[VisitorId] [int] NOT NULL,
	[Row] [tinyint] NOT NULL,
	[Seat] [tinyint] NOT NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](30) NOT NULL,
	[Role] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitor]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitor](
	[VisitorId] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [char](11) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[BirthDate] [datetime2](7) NULL,
	[Email] [varchar](150) NULL,
 CONSTRAINT [PK_Visitor] PRIMARY KEY CLUSTERED 
(
	[VisitorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitorEmail]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorEmail](
	[VisitorId] [int] NOT NULL,
	[OldEmail] [varchar](150) NOT NULL,
	[ChangeDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251016082528_InitialCreate1', N'9.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251016082844_AddDescriptionToCategory', N'9.0.9')
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (1, N'Симулятор')
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (2, N'Шутер')
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (3, N'RPG')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[CinemaHall] ON 

INSERT [dbo].[CinemaHall] ([HallId], [CinemaName], [HallNumber], [RowsCount], [SeatsCount], [IsVip]) VALUES (2, N'Макси', 1, 30, 17, 0)
INSERT [dbo].[CinemaHall] ([HallId], [CinemaName], [HallNumber], [RowsCount], [SeatsCount], [IsVip]) VALUES (4, N'Макси', 2, 10, 10, 1)
INSERT [dbo].[CinemaHall] ([HallId], [CinemaName], [HallNumber], [RowsCount], [SeatsCount], [IsVip]) VALUES (7, N'Титан-Арена', 3, 13, 30, 0)
SET IDENTITY_INSERT [dbo].[CinemaHall] OFF
GO
SET IDENTITY_INSERT [dbo].[CinemaPrivilege] ON 

INSERT [dbo].[CinemaPrivilege] ([PrivilegeId], [Name]) VALUES (1, N'доступ в личный кабинет')
INSERT [dbo].[CinemaPrivilege] ([PrivilegeId], [Name]) VALUES (2, N'проверка билетов')
INSERT [dbo].[CinemaPrivilege] ([PrivilegeId], [Name]) VALUES (3, N' просмотр списка фильмов')
SET IDENTITY_INSERT [dbo].[CinemaPrivilege] OFF
GO
INSERT [dbo].[CinemaRolePrivilege] ([RoleId], [PrivilegeId]) VALUES (1, 1)
INSERT [dbo].[CinemaRolePrivilege] ([RoleId], [PrivilegeId]) VALUES (1, 4)
INSERT [dbo].[CinemaRolePrivilege] ([RoleId], [PrivilegeId]) VALUES (1, 5)
GO
SET IDENTITY_INSERT [dbo].[CinemaUser] ON 

INSERT [dbo].[CinemaUser] ([UserId], [Login], [PasswordHash], [FailTryAuthQuantity], [UnlockDate], [RoleId]) VALUES (1, N'Katrin', N'$2a$11$QRVxdScWlOR9LEiveSPmXeb.7hLECOi/F2PUADmSZsoKnBS3RaN4i', 0, NULL, 1)
INSERT [dbo].[CinemaUser] ([UserId], [Login], [PasswordHash], [FailTryAuthQuantity], [UnlockDate], [RoleId]) VALUES (2, N'логер1', N'$2a$11$VEKtrX4Ssrk6UGE.XDZjB.0cX4yp7Mfzam5GEXP94LJIYAk8Krpky', 1, NULL, 2)
INSERT [dbo].[CinemaUser] ([UserId], [Login], [PasswordHash], [FailTryAuthQuantity], [UnlockDate], [RoleId]) VALUES (5, N'456Totya', N'$2a$11$XNe1Hel7HvxyoAZXaZ9YU.0aKZ.yBbPhvmXzSev/ChwIMYjYdBkEm', 0, NULL, 3)
SET IDENTITY_INSERT [dbo].[CinemaUser] OFF
GO
SET IDENTITY_INSERT [dbo].[CinemaUserRole] ON 

INSERT [dbo].[CinemaUserRole] ([RoleId], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[CinemaUserRole] ([RoleId], [RoleName]) VALUES (2, N'Билетер')
INSERT [dbo].[CinemaUserRole] ([RoleId], [RoleName]) VALUES (3, N'Посетитель')
SET IDENTITY_INSERT [dbo].[CinemaUserRole] OFF
GO
INSERT [dbo].[DeletedCategory] ([CategoryId], [Name], [DeletedDate], [Login]) VALUES (5, N'рогалик', CAST(N'2025-09-24T11:47:39.3933333' AS DateTime2), N'ispp3101')
INSERT [dbo].[DeletedCategory] ([CategoryId], [Name], [DeletedDate], [Login]) VALUES (6, N'jRPGs', CAST(N'2025-09-24T11:47:12.2266667' AS DateTime2), N'ispp3101')
GO
INSERT [dbo].[DeletedVisitor] ([VisitorId], [Phone], [Name], [BirthDate], [Email], [DeletedDate], [Login]) VALUES (11, N'7984562362 ', N'Жупел', CAST(N'2004-02-28T00:00:00.0000000' AS DateTime2), N'gerndt@uotlook.gr', CAST(N'2025-09-26T09:18:26.3900000' AS DateTime2), N'ispp3101')
INSERT [dbo].[DeletedVisitor] ([VisitorId], [Phone], [Name], [BirthDate], [Email], [DeletedDate], [Login]) VALUES (14, N'79330343455', N'Андрейка', CAST(N'2025-10-02T11:23:58.1966667' AS DateTime2), N'andrDog12@gmail.com', CAST(N'2025-10-02T11:24:48.2566667' AS DateTime2), N'ispp3101')
INSERT [dbo].[DeletedVisitor] ([VisitorId], [Phone], [Name], [BirthDate], [Email], [DeletedDate], [Login]) VALUES (15, N'79330343455', N'Андрейка', CAST(N'2025-10-02T11:25:42.3033333' AS DateTime2), N'andrDog12@gmail.com', CAST(N'2025-10-02T11:25:56.1433333' AS DateTime2), N'ispp3101')
GO
SET IDENTITY_INSERT [dbo].[Film] ON 

INSERT [dbo].[Film] ([FilmId], [Name], [Duration], [ReleaseYear], [Description], [Poster], [AgeLimit], [RentalStart], [RentalFinish], [IsDeleted]) VALUES (1, N'Солнцестояние', 158, 2019, N'Гости праздника становяться жертвами ритуалов.', NULL, N'18', CAST(N'2025-12-15' AS Date), CAST(N'2025-11-20' AS Date), 0)
INSERT [dbo].[Film] ([FilmId], [Name], [Duration], [ReleaseYear], [Description], [Poster], [AgeLimit], [RentalStart], [RentalFinish], [IsDeleted]) VALUES (2, N'Долгая прогулка', 108, 2025, N'Юноша участвует в пешем марафоне, где остановка чревата смертью.', NULL, N'18', CAST(N'2025-11-22' AS Date), CAST(N'2025-10-15' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Film] OFF
GO
INSERT [dbo].[FilmGenre] ([FilmId], [GenreId]) VALUES (1, 3)
INSERT [dbo].[FilmGenre] ([FilmId], [GenreId]) VALUES (2, 1)
INSERT [dbo].[FilmGenre] ([FilmId], [GenreId]) VALUES (2, 3)
GO
SET IDENTITY_INSERT [dbo].[Frame] ON 

INSERT [dbo].[Frame] ([FrameId], [FilmId], [FileName]) VALUES (2, 2, N'simcity-buildit-1.jpg')
INSERT [dbo].[Frame] ([FrameId], [FilmId], [FileName]) VALUES (4, 6, N'930.0x524.0 (2).jpg')
INSERT [dbo].[Frame] ([FrameId], [FilmId], [FileName]) VALUES (5, 3, N'2.jpg')
SET IDENTITY_INSERT [dbo].[Frame] OFF
GO
SET IDENTITY_INSERT [dbo].[Game] ON 

INSERT [dbo].[Game] ([GameId], [CategoryId], [Name], [Price], [Description]) VALUES (1, 1, N'SimCity', CAST(1000.00 AS Decimal(16, 2)), N'Градостроительный симулятор снова с вами! Создайте город своей мечты')
INSERT [dbo].[Game] ([GameId], [CategoryId], [Name], [Price], [Description]) VALUES (2, 2, N'TITANFALL', CAST(2299.00 AS Decimal(16, 2)), N'Эта игра перенесет вас во вселенную, где малое противопоставляется большому, природа – индустрии, а человек – машине')
INSERT [dbo].[Game] ([GameId], [CategoryId], [Name], [Price], [Description]) VALUES (3, 2, N'Battlefield 4', CAST(899.40 AS Decimal(16, 2)), N'Battlefield 4 – это определяющий для жанра, полный экшена боевик, известный своей разрушаемостью, равных которой нет')
SET IDENTITY_INSERT [dbo].[Game] OFF
GO
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([GenreId], [Name]) VALUES (1, N'Триллер')
INSERT [dbo].[Genre] ([GenreId], [Name]) VALUES (2, N'Драма')
INSERT [dbo].[Genre] ([GenreId], [Name]) VALUES (3, N'Ужасы')
SET IDENTITY_INSERT [dbo].[Genre] OFF
GO
SET IDENTITY_INSERT [dbo].[Import1_Order] ON 

INSERT [dbo].[Import1_Order] ([OrderId], [DateOfOrder], [PromocodeId]) VALUES (1, CAST(N'2020-03-13T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Import1_Order] ([OrderId], [DateOfOrder], [PromocodeId]) VALUES (2, CAST(N'2018-04-11T16:38:00.000' AS DateTime), NULL)
INSERT [dbo].[Import1_Order] ([OrderId], [DateOfOrder], [PromocodeId]) VALUES (3, CAST(N'2019-03-24T10:34:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Import1_Order] OFF
GO
INSERT [dbo].[Import1_OrderList] ([OrderId], [PizzaId], [Quantity]) VALUES (1, 3, 5)
INSERT [dbo].[Import1_OrderList] ([OrderId], [PizzaId], [Quantity]) VALUES (1, 4, 1)
INSERT [dbo].[Import1_OrderList] ([OrderId], [PizzaId], [Quantity]) VALUES (1, 6, 2)
GO
SET IDENTITY_INSERT [dbo].[Import1_Pizza] ON 

INSERT [dbo].[Import1_Pizza] ([PizzaId], [Name], [Ingredients], [Weight], [Price]) VALUES (1, N'Микс', N'Соус томатный, сыр моцарелла, ветчина, салями, сосиски баварские с зеленью, помидоры, перец болгарский', 520, CAST(580.00 AS Decimal(6, 2)))
INSERT [dbo].[Import1_Pizza] ([PizzaId], [Name], [Ingredients], [Weight], [Price]) VALUES (2, N'Сырная', N'Соус ранч, сыр моцарелла, сыр гауда, сыр пармезан, салат руккола', 460, CAST(550.00 AS Decimal(6, 2)))
INSERT [dbo].[Import1_Pizza] ([PizzaId], [Name], [Ingredients], [Weight], [Price]) VALUES (3, N'Грибнaя', N'Соус грибной, сыр, шампиньоны, опята маринованные, грибы шиитаке, микс салат', 735, CAST(610.00 AS Decimal(6, 2)))
SET IDENTITY_INSERT [dbo].[Import1_Pizza] OFF
GO
SET IDENTITY_INSERT [dbo].[Import1_Promocode] ON 

INSERT [dbo].[Import1_Promocode] ([PromocodeId], [Name], [Percent]) VALUES (1, N'mart2020', 13)
INSERT [dbo].[Import1_Promocode] ([PromocodeId], [Name], [Percent]) VALUES (2, N'd12345', 5)
INSERT [dbo].[Import1_Promocode] ([PromocodeId], [Name], [Percent]) VALUES (3, N'promo', 10)
SET IDENTITY_INSERT [dbo].[Import1_Promocode] OFF
GO
INSERT [dbo].[Import1_Promocodes_FilterDatabase] ([Name]) VALUES (N'mart2020')
INSERT [dbo].[Import1_Promocodes_FilterDatabase] ([Name]) VALUES (N'd12345')
INSERT [dbo].[Import1_Promocodes_FilterDatabase] ([Name]) VALUES (N'promo')
GO
INSERT [dbo].[Import1_User] ([UserId], [Name], [Login], [Password], [Ip], [LastEnter]) VALUES (N'1', N'Clareta Hacking', N'chacking0', N'4tzqHdkqzo4', N'147.231.50.234', N'02.10.2023')
INSERT [dbo].[Import1_User] ([UserId], [Name], [Login], [Password], [Ip], [LastEnter]) VALUES (N'2', N'Northrop Mably', N'nmably1', N'ukM0e6', N'22.32.15.211', N'20.06.2023')
INSERT [dbo].[Import1_User] ([UserId], [Name], [Login], [Password], [Ip], [LastEnter]) VALUES (N'3', N'Fabian Rolf', N'frolf2', N'7QpCwac0yi', N'113.92.142.29', N'19.05.2023')
GO
SET IDENTITY_INSERT [dbo].[Import2_Ingredient] ON 

INSERT [dbo].[Import2_Ingredient] ([IngredientId], [Name]) VALUES (1, N' опята маринованные')
INSERT [dbo].[Import2_Ingredient] ([IngredientId], [Name]) VALUES (2, N' салями')
INSERT [dbo].[Import2_Ingredient] ([IngredientId], [Name]) VALUES (3, N' пепперони')
SET IDENTITY_INSERT [dbo].[Import2_Ingredient] OFF
GO
SET IDENTITY_INSERT [dbo].[Import2_Pizza] ON 

INSERT [dbo].[Import2_Pizza] ([PizzaId], [Name], [Weight], [Price]) VALUES (1, N'Микс', 520, CAST(580.00 AS Decimal(6, 2)))
INSERT [dbo].[Import2_Pizza] ([PizzaId], [Name], [Weight], [Price]) VALUES (2, N'Сырная', 460, CAST(550.00 AS Decimal(6, 2)))
INSERT [dbo].[Import2_Pizza] ([PizzaId], [Name], [Weight], [Price]) VALUES (3, N'Грибнaя', 735, CAST(610.00 AS Decimal(6, 2)))
SET IDENTITY_INSERT [dbo].[Import2_Pizza] OFF
GO
INSERT [dbo].[Import2_PizzaIngredients] ([PizzaId], [Name], [Ingredients], [Mass], [Price]) VALUES (1, N'Микс', N'Соус томатный, сыр моцарелла, ветчина, салями, сосиски баварские с зеленью, помидоры, перец болгарский', 520, CAST(580.00 AS Decimal(6, 2)))
INSERT [dbo].[Import2_PizzaIngredients] ([PizzaId], [Name], [Ingredients], [Mass], [Price]) VALUES (2, N'Сырная', N'Соус ранч, сыр моцарелла, сыр гауда, сыр пармезан, салат руккола', 460, CAST(550.00 AS Decimal(6, 2)))
INSERT [dbo].[Import2_PizzaIngredients] ([PizzaId], [Name], [Ingredients], [Mass], [Price]) VALUES (3, N'Грибнaя', N'Соус грибной, сыр, шампиньоны, опята маринованные, грибы шиитаке, микс салат', 735, CAST(610.00 AS Decimal(6, 2)))
GO
SET IDENTITY_INSERT [dbo].[LW23Games] ON 

INSERT [dbo].[LW23Games] ([GameId], [Name], [Description], [CategoryId], [Price], [LogoFile]) VALUES (1, N'SimCity', N'Градостроительный симулятор снова с вами! Создайте город своей мечты', 2, CAST(1499.00 AS Decimal(10, 2)), N'simcity.png')
INSERT [dbo].[LW23Games] ([GameId], [Name], [Description], [CategoryId], [Price], [LogoFile]) VALUES (2, N'TITANFALL', N'Эта игра перенесет вас во вселенную, где малое противопоставляется большому, природа – индустрии, а человек – машине', 1, CAST(2299.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[LW23Games] ([GameId], [Name], [Description], [CategoryId], [Price], [LogoFile]) VALUES (3, N'Battlefield 4', N'Battlefield 4 – это определяющий для жанра, полный экшена боевик, известный своей разрушаемостью, равных которой нет', 1, CAST(899.40 AS Decimal(10, 2)), N'elder scrolls v skyrim.png')
SET IDENTITY_INSERT [dbo].[LW23Games] OFF
GO
SET IDENTITY_INSERT [dbo].[LW23Screenshots] ON 

SET IDENTITY_INSERT [dbo].[LW23Screenshots] OFF
GO
SET IDENTITY_INSERT [dbo].[Session] ON 

INSERT [dbo].[Session] ([SessionId], [FilmId], [HallId], [Price], [StartDate], [IsFilm3d]) VALUES (2, 1, 2, CAST(466 AS Decimal(4, 0)), CAST(N'2025-12-15T17:30:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Session] ([SessionId], [FilmId], [HallId], [Price], [StartDate], [IsFilm3d]) VALUES (3, 1, 4, CAST(350 AS Decimal(4, 0)), CAST(N'2025-11-20T19:00:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Session] ([SessionId], [FilmId], [HallId], [Price], [StartDate], [IsFilm3d]) VALUES (4, 2, 2, CAST(450 AS Decimal(4, 0)), CAST(N'2025-11-25T20:10:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Session] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([TicketId], [SessionId], [VisitorId], [Row], [Seat]) VALUES (1, 2, 5, 4, 5)
INSERT [dbo].[Ticket] ([TicketId], [SessionId], [VisitorId], [Row], [Seat]) VALUES (2, 2, 6, 5, 4)
INSERT [dbo].[Ticket] ([TicketId], [SessionId], [VisitorId], [Row], [Seat]) VALUES (3, 2, 7, 7, 4)
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [Login], [Password], [Role]) VALUES (1, N'admin', N'admin', N'Admin')
INSERT [dbo].[User] ([UserId], [Login], [Password], [Role]) VALUES (2, N'user1', N'1', N'Customer')
INSERT [dbo].[User] ([UserId], [Login], [Password], [Role]) VALUES (3, N'user2', N'1', N'Customer')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[Visitor] ON 

INSERT [dbo].[Visitor] ([VisitorId], [Phone], [Name], [BirthDate], [Email]) VALUES (5, N'7921084345 ', N'Валерий', CAST(N'2007-12-02T00:00:00.0000000' AS DateTime2), N'valerka444@mail.ru')
INSERT [dbo].[Visitor] ([VisitorId], [Phone], [Name], [BirthDate], [Email]) VALUES (6, N'76851457787', N'Лера', CAST(N'2004-08-16T00:00:00.0000000' AS DateTime2), N'jillu@Outlook.com')
INSERT [dbo].[Visitor] ([VisitorId], [Phone], [Name], [BirthDate], [Email]) VALUES (7, N'79856586124', N'Женя', CAST(N'2005-06-24T00:00:00.0000000' AS DateTime2), N'meowl@outlook.su')
SET IDENTITY_INSERT [dbo].[Visitor] OFF
GO
INSERT [dbo].[VisitorEmail] ([VisitorId], [OldEmail], [ChangeDate]) VALUES (8, N'lexxa888@yandex.ru', CAST(N'2025-09-26T08:48:06.6233333' AS DateTime2))
INSERT [dbo].[VisitorEmail] ([VisitorId], [OldEmail], [ChangeDate]) VALUES (7, N'meowly@outlook.su', CAST(N'2025-09-26T08:48:56.2933333' AS DateTime2))
INSERT [dbo].[VisitorEmail] ([VisitorId], [OldEmail], [ChangeDate]) VALUES (5, N'ferma@gg.ty', CAST(N'2025-09-26T08:49:10.6933333' AS DateTime2))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CinemaHall]    Script Date: 16.12.2025 11:07:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_CinemaHall] ON [dbo].[CinemaHall]
(
	[CinemaName] ASC,
	[HallId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Ticket]    Script Date: 16.12.2025 11:07:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Ticket] ON [dbo].[Ticket]
(
	[SessionId] ASC,
	[Row] ASC,
	[Seat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Visitor]    Script Date: 16.12.2025 11:07:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Visitor] ON [dbo].[Visitor]
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CinemaHall] ADD  CONSTRAINT [DF_CinameHall_CinameName]  DEFAULT ('Макси') FOR [CinemaName]
GO
ALTER TABLE [dbo].[CinemaUser] ADD  CONSTRAINT [DF_CinemaUser_FailTryAuthCount]  DEFAULT ((0)) FOR [FailTryAuthQuantity]
GO
ALTER TABLE [dbo].[DeletedCategory] ADD  CONSTRAINT [DF_DeletedCategory_DeletedDate]  DEFAULT (getdate()) FOR [DeletedDate]
GO
ALTER TABLE [dbo].[DeletedCategory] ADD  CONSTRAINT [DF_DeletedCategory_Login]  DEFAULT (original_login()) FOR [Login]
GO
ALTER TABLE [dbo].[DeletedVisitor] ADD  CONSTRAINT [DF_DeletedVisitor_DeletedDate]  DEFAULT (getdate()) FOR [DeletedDate]
GO
ALTER TABLE [dbo].[DeletedVisitor] ADD  CONSTRAINT [DF_DeletedVisitor_Login]  DEFAULT (original_login()) FOR [Login]
GO
ALTER TABLE [dbo].[Film] ADD  CONSTRAINT [DF_Film_Duration]  DEFAULT ((90)) FOR [Duration]
GO
ALTER TABLE [dbo].[Film] ADD  CONSTRAINT [DF_Film_ReleaseYear]  DEFAULT (datepart(year,getdate())) FOR [ReleaseYear]
GO
ALTER TABLE [dbo].[Film] ADD  CONSTRAINT [DF_Film_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Session] ADD  CONSTRAINT [DF_Session_Price]  DEFAULT ((200)) FOR [Price]
GO
ALTER TABLE [dbo].[Session] ADD  CONSTRAINT [DF_Session_DateTime]  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [dbo].[VisitorEmail] ADD  CONSTRAINT [DF_VisitorEmail_ChangeDate]  DEFAULT (getdate()) FOR [ChangeDate]
GO
ALTER TABLE [dbo].[CinemaRolePrivilege]  WITH CHECK ADD  CONSTRAINT [FK_CinemaRolePrivilege_CinemaPrivilege] FOREIGN KEY([PrivilegeId])
REFERENCES [dbo].[CinemaPrivilege] ([PrivilegeId])
GO
ALTER TABLE [dbo].[CinemaRolePrivilege] CHECK CONSTRAINT [FK_CinemaRolePrivilege_CinemaPrivilege]
GO
ALTER TABLE [dbo].[CinemaRolePrivilege]  WITH CHECK ADD  CONSTRAINT [FK_CinemaRolePrivilege_CinemaUserRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[CinemaUserRole] ([RoleId])
GO
ALTER TABLE [dbo].[CinemaRolePrivilege] CHECK CONSTRAINT [FK_CinemaRolePrivilege_CinemaUserRole]
GO
ALTER TABLE [dbo].[CinemaUser]  WITH CHECK ADD  CONSTRAINT [FK_CinemaUser_CinemaUserRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[CinemaUserRole] ([RoleId])
GO
ALTER TABLE [dbo].[CinemaUser] CHECK CONSTRAINT [FK_CinemaUser_CinemaUserRole]
GO
ALTER TABLE [dbo].[FilmGenre]  WITH CHECK ADD  CONSTRAINT [FK_FilmGenre_Film] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([FilmId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[FilmGenre] CHECK CONSTRAINT [FK_FilmGenre_Film]
GO
ALTER TABLE [dbo].[FilmGenre]  WITH CHECK ADD  CONSTRAINT [FK_FilmGenre_Genre] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genre] ([GenreId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[FilmGenre] CHECK CONSTRAINT [FK_FilmGenre_Genre]
GO
ALTER TABLE [dbo].[Frame]  WITH CHECK ADD  CONSTRAINT [FK_Frame_Film] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([FilmId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Frame] CHECK CONSTRAINT [FK_Frame_Film]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_Game_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_Game_Category]
GO
ALTER TABLE [dbo].[Import1_Order]  WITH CHECK ADD  CONSTRAINT [FK_Import1_Order_Import1_Promocode] FOREIGN KEY([PromocodeId])
REFERENCES [dbo].[Import1_Promocode] ([PromocodeId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Import1_Order] CHECK CONSTRAINT [FK_Import1_Order_Import1_Promocode]
GO
ALTER TABLE [dbo].[Import1_OrderList]  WITH CHECK ADD  CONSTRAINT [FK_Import1_OrderList_Import1_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Import1_Order] ([OrderId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Import1_OrderList] CHECK CONSTRAINT [FK_Import1_OrderList_Import1_Order]
GO
ALTER TABLE [dbo].[Import1_OrderList]  WITH CHECK ADD  CONSTRAINT [FK_Import1_OrderList_Import1_Pizza] FOREIGN KEY([PizzaId])
REFERENCES [dbo].[Import1_Pizza] ([PizzaId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Import1_OrderList] CHECK CONSTRAINT [FK_Import1_OrderList_Import1_Pizza]
GO
ALTER TABLE [dbo].[Import2_PizzaIngredient]  WITH CHECK ADD  CONSTRAINT [FK_Import2_PizzaIngredient_Import2_Ingredient] FOREIGN KEY([PizzaId])
REFERENCES [dbo].[Import2_Ingredient] ([IngredientId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Import2_PizzaIngredient] CHECK CONSTRAINT [FK_Import2_PizzaIngredient_Import2_Ingredient]
GO
ALTER TABLE [dbo].[Import2_PizzaIngredient]  WITH CHECK ADD  CONSTRAINT [FK_Import2_PizzaIngredient_Import2_Pizza] FOREIGN KEY([PizzaId])
REFERENCES [dbo].[Import2_Pizza] ([PizzaId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Import2_PizzaIngredient] CHECK CONSTRAINT [FK_Import2_PizzaIngredient_Import2_Pizza]
GO
ALTER TABLE [dbo].[LW23Comments]  WITH CHECK ADD  CONSTRAINT [FK_LW23Comments_LW23Posts1] FOREIGN KEY([PostId])
REFERENCES [dbo].[LW23Posts] ([PostId])
GO
ALTER TABLE [dbo].[LW23Comments] CHECK CONSTRAINT [FK_LW23Comments_LW23Posts1]
GO
ALTER TABLE [dbo].[LW23Screenshots]  WITH CHECK ADD  CONSTRAINT [FK_LW23Screenshots_LW23Games] FOREIGN KEY([GameId])
REFERENCES [dbo].[LW23Games] ([GameId])
GO
ALTER TABLE [dbo].[LW23Screenshots] CHECK CONSTRAINT [FK_LW23Screenshots_LW23Games]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_CinemaHall] FOREIGN KEY([HallId])
REFERENCES [dbo].[CinemaHall] ([HallId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_CinemaHall]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Film] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([FilmId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Film]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Session] ([SessionId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Session]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Visitor] FOREIGN KEY([VisitorId])
REFERENCES [dbo].[Visitor] ([VisitorId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Visitor]
GO
ALTER TABLE [dbo].[VisitorEmail]  WITH CHECK ADD  CONSTRAINT [FK_VisitorEmail_Visitor] FOREIGN KEY([VisitorId])
REFERENCES [dbo].[Visitor] ([VisitorId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VisitorEmail] CHECK CONSTRAINT [FK_VisitorEmail_Visitor]
GO
ALTER TABLE [dbo].[CinemaHall]  WITH CHECK ADD  CONSTRAINT [CK_CinemaHall_CinemaName] CHECK  (([CinemaName]='Русь' OR [CinemaName]='Титан-Арена' OR [CinemaName]='Макси'))
GO
ALTER TABLE [dbo].[CinemaHall] CHECK CONSTRAINT [CK_CinemaHall_CinemaName]
GO
ALTER TABLE [dbo].[CinemaHall]  WITH CHECK ADD  CONSTRAINT [CK_CinemaHall_RowsCount] CHECK  (([RowsCount]>(4) AND [RowsCount]<(31)))
GO
ALTER TABLE [dbo].[CinemaHall] CHECK CONSTRAINT [CK_CinemaHall_RowsCount]
GO
ALTER TABLE [dbo].[CinemaHall]  WITH CHECK ADD  CONSTRAINT [CK_CinemaHall_SeatsCount] CHECK  (([SeatsCount]>(4) AND [SeatsCount]<(31)))
GO
ALTER TABLE [dbo].[CinemaHall] CHECK CONSTRAINT [CK_CinemaHall_SeatsCount]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [CK_Ticket_Row] CHECK  (([Row]>(0)))
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [CK_Ticket_Row]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [CK_Ticket_Seat] CHECK  (([Seat]>(0)))
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [CK_Ticket_Seat]
GO
/****** Object:  StoredProcedure [dbo].[AddCategory]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddCategory]
    @name NVARCHAR(100),
    @id int OUTPUT 
AS
BEGIN
	INSERT INTO Category([Name]) 
	VALUES(@name);
	SET @id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[AddCinemaHall]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddCinemaHall]
    @cinemaName NVARCHAR(50) = 'Титан-Арена',
    @hallNumber TINYINT,
	@rowsCount INT,
	@seatsCount INT
AS
BEGIN
	DECLARE @hallId INT;
	SET @hallId = ISNULL((SELECT  HallId
					FROM CinemaHall
					WHERE CinemaName = @cinemaName AND HallNumber = @hallNumber), 0);
	
	IF @hallId = 0
		INSERT INTO CinemaHall(CinemaName, HallNumber, RowsCount, SeatsCount, IsVip)
		VALUES (@cinemaName, @hallNumber, @rowsCount, @seatsCount, 0)
	ELSE
		UPDATE CinemaHall
		SET RowsCount = @rowsCount,
			SeatsCount = @seatsCount
		WHERE HallId = @hallId
END
GO
/****** Object:  StoredProcedure [dbo].[AddTicket]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddTicket]
    @phone char(11),
    @sessionId int,
	@row tinyint,
	@seat tinyint,
	@id INT OUTPUT
AS
BEGIN
	INSERT INTO Ticket(SessionId, VisitorId, Row, Seat)
	SELECT @sessionId, Visitor.VisitorId, @row, @seat
	FROM Visitor 
	WHERE Visitor.Phone = @phone

	SET @id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[AddVisitor]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddVisitor]
	@phone CHAR(11),
	@id INT OUTPUT
AS
	INSERT INTO Visitor(Phone)
	VALUES (@phone)
	SET @id = SCOPE_IDENTITY()
GO
/****** Object:  StoredProcedure [dbo].[GetGamesByPrice]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetGamesByPrice] 
    @maxPrice DECIMAL(16,2) 
AS
    SELECT *
	FROM Game
	WHERE Price <= @maxPrice
GO
/****** Object:  StoredProcedure [dbo].[GetVisitorTickets]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetVisitorTickets]
	@number VARCHAR(11)
AS
	PRINT 'Параметр: [' + @number + ']'
	SELECT Ticket.* 
	FROM Ticket
		JOIN Visitor ON Visitor.VisitorId = Ticket.VisitorId
	WHERE Visitor.Phone = @number
GO
/****** Object:  Trigger [dbo].[TrDeleteFilm]    Script Date: 16.12.2025 11:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrDeleteFilm]
	ON [dbo].[Film]
	INSTEAD OF DELETE
	AS
		UPDATE Film
		SET IsDeleted = 1
		WHERE FilmId IN(SELECT FilmId
						FROM deleted);
GO
ALTER TABLE [dbo].[Film] DISABLE TRIGGER [TrDeleteFilm]
GO
/****** Object:  Trigger [dbo].[TrAddSessionPrice]    Script Date: 16.12.2025 11:07:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrAddSessionPrice]
ON [dbo].[Session]
INSTEAD OF INSERT
AS
BEGIN
	DECLARE @newPrice decimal(4,0)
	SET @newPrice=(SELECT Price
				   FROM inserted);
	IF (@newPrice<100)
		INSERT INTO [Session](FilmId, HallId, Price, StartDate, IsFilm3d)
		SELECT FilmId, HallId, 100, StartDate, IsFilm3d
		FROM inserted;
END;
GO
ALTER TABLE [dbo].[Session] DISABLE TRIGGER [TrAddSessionPrice]
GO
/****** Object:  Trigger [dbo].[TrAddTicket]    Script Date: 16.12.2025 11:07:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrAddTicket]
ON [dbo].[Ticket]
INSTEAD OF INSERT
AS
BEGIN
	DECLARE @ticketRow tinyint
	DECLARE @ticketSeat tinyint
	DECLARE @maxRow tinyint
	DECLARE @maxSeat tinyint

	SELECT @ticketRow = i.[Row], @ticketSeat = i.Seat
	FROM inserted i;

	SELECT @maxRow = h.RowsCount, @maxSeat = h.SeatsCount
	FROM CinemaHall h 
		JOIN [Session] s ON s.HallId = h.HallId
		JOIN Ticket t ON t.SessionId = s.SessionId
	IF (@ticketRow > @maxRow OR @ticketSeat > @maxSeat)
		THROW 50000, 'Номер ряда или места выше допустимого', 1
END;
GO
ALTER TABLE [dbo].[Ticket] DISABLE TRIGGER [TrAddTicket]
GO
/****** Object:  Trigger [dbo].[TrSaveEmail]    Script Date: 16.12.2025 11:07:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrSaveEmail]
    ON [dbo].[Visitor]
    AFTER UPDATE
    AS
		IF UPDATE(Email)
			INSERT INTO VisitorEmail(VisitorId, OldEmail)
			SELECT VisitorId, Email
			FROM deleted;
GO
ALTER TABLE [dbo].[Visitor] DISABLE TRIGGER [TrSaveEmail]
GO
/****** Object:  Trigger [dbo].[TrSaveVisitor]    Script Date: 16.12.2025 11:07:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrSaveVisitor]
    ON [dbo].[Visitor]
    AFTER DELETE
    AS
		INSERT INTO DeletedVisitor(VisitorId, Phone, [Name], BirthDate, Email)
		SELECT VisitorId, Phone, [Name], BirthDate, Email
		FROM deleted;
GO
ALTER TABLE [dbo].[Visitor] DISABLE TRIGGER [TrSaveVisitor]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[37] 4[26] 2[14] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Film"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 269
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "FilmGenre"
            Begin Extent = 
               Top = 27
               Left = 289
               Bottom = 123
               Right = 459
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Genre"
            Begin Extent = 
               Top = 26
               Left = 544
               Bottom = 263
               Right = 714
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 3285
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 5715
         Alias = 900
         Table = 1170
         Output = 2880
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewFilmInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewFilmInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[12] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Category"
            Begin Extent = 
               Top = 20
               Left = 33
               Bottom = 116
               Right = 203
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Game"
            Begin Extent = 
               Top = 4
               Left = 266
               Bottom = 243
               Right = 518
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 990
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewGamesInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewGamesInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Game"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 249
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2805
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewGamesInfo_2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewGamesInfo_2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[43] 4[22] 2[9] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ViewFilmInfo"
            Begin Extent = 
               Top = 26
               Left = 236
               Bottom = 213
               Right = 426
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewsFutureFilmsInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewsFutureFilmsInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[17] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Session"
            Begin Extent = 
               Top = 55
               Left = 308
               Bottom = 279
               Right = 478
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Film"
            Begin Extent = 
               Top = 80
               Left = 537
               Bottom = 307
               Right = 707
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "CinemaHall"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 173
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 2235
         Width = 2100
         Width = 4635
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewsSession3DFilmsInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewsSession3DFilmsInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[32] 4[21] 2[18] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1[43] 4[41] 3) )"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Session"
            Begin Extent = 
               Top = 11
               Left = 363
               Bottom = 217
               Right = 533
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Film"
            Begin Extent = 
               Top = 39
               Left = 74
               Bottom = 301
               Right = 244
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "CinemaHall"
            Begin Extent = 
               Top = 43
               Left = 615
               Bottom = 281
               Right = 785
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 10
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1665
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 2340
         Width = 1665
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 7785
         Alias = 1845
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewsSessionInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewsSessionInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[44] 4[14] 2[18] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Session"
            Begin Extent = 
               Top = 16
               Left = 340
               Bottom = 206
               Right = 510
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "CinemaHall"
            Begin Extent = 
               Top = 42
               Left = 84
               Bottom = 307
               Right = 254
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Film"
            Begin Extent = 
               Top = 168
               Left = 610
               Bottom = 321
               Right = 780
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1455
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 5760
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewsSessionsFullInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewsSessionsFullInfo'
GO
USE [master]
GO
