USE [ispp3101]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 27.11.2025 11:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 27.11.2025 11:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaHall]    Script Date: 27.11.2025 11:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaHall](
	[HallId] [tinyint] IDENTITY(1,1) NOT NULL,
	[CinemaName] [nvarchar](50) NOT NULL,
	[HallNumber] [tinyint] NOT NULL,
	[RowsCount] [tinyint] NOT NULL,
	[SeatsCount] [tinyint] NOT NULL,
	[IsVip] [bit] NOT NULL,
 CONSTRAINT [PK_CinemaHall] PRIMARY KEY CLUSTERED 
(
	[HallId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaPrivilege]    Script Date: 27.11.2025 11:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaPrivilege](
	[PrivilegeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CinemaPrivilege] PRIMARY KEY CLUSTERED 
(
	[PrivilegeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaRolePrivilege]    Script Date: 27.11.2025 11:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaRolePrivilege](
	[RoleId] [int] NOT NULL,
	[PrivilegeId] [int] NOT NULL,
 CONSTRAINT [PK_CinemaRolePrivilege] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[PrivilegeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaUser]    Script Date: 27.11.2025 11:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaUser](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](200) NOT NULL,
	[FailTryAuthQuantity] [int] NOT NULL,
	[UnlockDate] [datetime2](7) NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_CinemaUser] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaUserRole]    Script Date: 27.11.2025 11:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaUserRole](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](20) NULL,
 CONSTRAINT [PK_CinemaUserRole] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeletedCategory]    Script Date: 27.11.2025 11:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeletedCategory](
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DeletedDate] [datetime2](7) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DeletedCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeletedVisitor]    Script Date: 27.11.2025 11:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeletedVisitor](
	[VisitorId] [int] NOT NULL,
	[Phone] [char](11) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[BirthDate] [datetime2](7) NULL,
	[Email] [varchar](150) NULL,
	[DeletedDate] [datetime2](7) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DeletedVisitor] PRIMARY KEY CLUSTERED 
(
	[VisitorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Film]    Script Date: 27.11.2025 11:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[FilmId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Duration] [smallint] NOT NULL,
	[ReleaseYear] [smallint] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Poster] [varbinary](max) NULL,
	[AgeLimit] [varchar](10) NULL,
	[RentalStart] [date] NULL,
	[RentalFinish] [date] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Film] PRIMARY KEY CLUSTERED 
(
	[FilmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmGenre]    Script Date: 27.11.2025 11:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmGenre](
	[FilmId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
 CONSTRAINT [PK_FilmGenre] PRIMARY KEY CLUSTERED 
(
	[FilmId] ASC,
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 27.11.2025 11:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[GameId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](16, 2) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 27.11.2025 11:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[GenreId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 27.11.2025 11:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[SessionId] [int] IDENTITY(1,1) NOT NULL,
	[FilmId] [int] NOT NULL,
	[HallId] [tinyint] NOT NULL,
	[Price] [decimal](4, 0) NULL,
	[StartDate] [datetime2](7) NULL,
	[IsFilm3d] [bit] NULL,
 CONSTRAINT [PK_Session] PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 27.11.2025 11:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [int] NOT NULL,
	[VisitorId] [int] NOT NULL,
	[Row] [tinyint] NOT NULL,
	[Seat] [tinyint] NOT NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitor]    Script Date: 27.11.2025 11:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitor](
	[VisitorId] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [char](11) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[BirthDate] [datetime2](7) NULL,
	[Email] [varchar](150) NULL,
 CONSTRAINT [PK_Visitor] PRIMARY KEY CLUSTERED 
(
	[VisitorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251016082528_InitialCreate1', N'9.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251016082844_AddDescriptionToCategory', N'9.0.9')
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (1, N'Симулятор')
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (2, N'Шутер')
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (3, N'RPG')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[CinemaHall] ON 

INSERT [dbo].[CinemaHall] ([HallId], [CinemaName], [HallNumber], [RowsCount], [SeatsCount], [IsVip]) VALUES (2, N'Макси', 1, 30, 17, 0)
INSERT [dbo].[CinemaHall] ([HallId], [CinemaName], [HallNumber], [RowsCount], [SeatsCount], [IsVip]) VALUES (4, N'Макси', 2, 10, 10, 1)
INSERT [dbo].[CinemaHall] ([HallId], [CinemaName], [HallNumber], [RowsCount], [SeatsCount], [IsVip]) VALUES (7, N'Титан-Арена', 3, 13, 30, 0)
SET IDENTITY_INSERT [dbo].[CinemaHall] OFF
GO
SET IDENTITY_INSERT [dbo].[CinemaPrivilege] ON 

INSERT [dbo].[CinemaPrivilege] ([PrivilegeId], [Name]) VALUES (1, N'доступ в личный кабинет')
INSERT [dbo].[CinemaPrivilege] ([PrivilegeId], [Name]) VALUES (2, N'проверка билетов')
INSERT [dbo].[CinemaPrivilege] ([PrivilegeId], [Name]) VALUES (3, N' просмотр списка фильмов')
SET IDENTITY_INSERT [dbo].[CinemaPrivilege] OFF
GO
INSERT [dbo].[CinemaRolePrivilege] ([RoleId], [PrivilegeId]) VALUES (1, 1)
INSERT [dbo].[CinemaRolePrivilege] ([RoleId], [PrivilegeId]) VALUES (1, 4)
INSERT [dbo].[CinemaRolePrivilege] ([RoleId], [PrivilegeId]) VALUES (1, 5)
GO
SET IDENTITY_INSERT [dbo].[CinemaUser] ON 

INSERT [dbo].[CinemaUser] ([UserId], [Login], [PasswordHash], [FailTryAuthQuantity], [UnlockDate], [RoleId]) VALUES (1, N'Katrin', N'$2a$11$QRVxdScWlOR9LEiveSPmXeb.7hLECOi/F2PUADmSZsoKnBS3RaN4i', 0, NULL, 1)
INSERT [dbo].[CinemaUser] ([UserId], [Login], [PasswordHash], [FailTryAuthQuantity], [UnlockDate], [RoleId]) VALUES (2, N'логер1', N'$2a$11$VEKtrX4Ssrk6UGE.XDZjB.0cX4yp7Mfzam5GEXP94LJIYAk8Krpky', 1, NULL, 2)
INSERT [dbo].[CinemaUser] ([UserId], [Login], [PasswordHash], [FailTryAuthQuantity], [UnlockDate], [RoleId]) VALUES (5, N'456Totya', N'$2a$11$XNe1Hel7HvxyoAZXaZ9YU.0aKZ.yBbPhvmXzSev/ChwIMYjYdBkEm', 0, NULL, 3)
SET IDENTITY_INSERT [dbo].[CinemaUser] OFF
GO
SET IDENTITY_INSERT [dbo].[CinemaUserRole] ON 

INSERT [dbo].[CinemaUserRole] ([RoleId], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[CinemaUserRole] ([RoleId], [RoleName]) VALUES (2, N'Билетер')
INSERT [dbo].[CinemaUserRole] ([RoleId], [RoleName]) VALUES (3, N'Посетитель')
SET IDENTITY_INSERT [dbo].[CinemaUserRole] OFF
GO
INSERT [dbo].[DeletedCategory] ([CategoryId], [Name], [DeletedDate], [Login]) VALUES (5, N'рогалик', CAST(N'2025-09-24T11:47:39.3933333' AS DateTime2), N'ispp3101')
INSERT [dbo].[DeletedCategory] ([CategoryId], [Name], [DeletedDate], [Login]) VALUES (6, N'jRPGs', CAST(N'2025-09-24T11:47:12.2266667' AS DateTime2), N'ispp3101')
GO
INSERT [dbo].[DeletedVisitor] ([VisitorId], [Phone], [Name], [BirthDate], [Email], [DeletedDate], [Login]) VALUES (11, N'7984562362 ', N'Жупел', CAST(N'2004-02-28T00:00:00.0000000' AS DateTime2), N'gerndt@uotlook.gr', CAST(N'2025-09-26T09:18:26.3900000' AS DateTime2), N'ispp3101')
INSERT [dbo].[DeletedVisitor] ([VisitorId], [Phone], [Name], [BirthDate], [Email], [DeletedDate], [Login]) VALUES (14, N'79330343455', N'Андрейка', CAST(N'2025-10-02T11:23:58.1966667' AS DateTime2), N'andrDog12@gmail.com', CAST(N'2025-10-02T11:24:48.2566667' AS DateTime2), N'ispp3101')
INSERT [dbo].[DeletedVisitor] ([VisitorId], [Phone], [Name], [BirthDate], [Email], [DeletedDate], [Login]) VALUES (15, N'79330343455', N'Андрейка', CAST(N'2025-10-02T11:25:42.3033333' AS DateTime2), N'andrDog12@gmail.com', CAST(N'2025-10-02T11:25:56.1433333' AS DateTime2), N'ispp3101')
GO
SET IDENTITY_INSERT [dbo].[Film] ON 

INSERT [dbo].[Film] ([FilmId], [Name], [Duration], [ReleaseYear], [Description], [Poster], [AgeLimit], [RentalStart], [RentalFinish], [IsDeleted]) VALUES (1, N'Солнцестояние', 158, 2019, N'Гости праздника становяться жертвами ритуалов.', NULL, N'18', CAST(N'2025-12-15' AS Date), CAST(N'2025-11-20' AS Date), 0)
INSERT [dbo].[Film] ([FilmId], [Name], [Duration], [ReleaseYear], [Description], [Poster], [AgeLimit], [RentalStart], [RentalFinish], [IsDeleted]) VALUES (2, N'Долгая прогулка', 108, 2025, N'Юноша участвует в пешем марафоне, где остановка чревата смертью.', NULL, N'18', CAST(N'2025-11-22' AS Date), CAST(N'2025-10-15' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Film] OFF
GO
INSERT [dbo].[FilmGenre] ([FilmId], [GenreId]) VALUES (1, 3)
INSERT [dbo].[FilmGenre] ([FilmId], [GenreId]) VALUES (2, 1)
INSERT [dbo].[FilmGenre] ([FilmId], [GenreId]) VALUES (2, 3)
GO
SET IDENTITY_INSERT [dbo].[Game] ON 

INSERT [dbo].[Game] ([GameId], [CategoryId], [Name], [Price], [Description]) VALUES (1, 1, N'SimCity123', CAST(1000.00 AS Decimal(16, 2)), N'Градостроительный симулятор снова с вами! Создайте город своей мечты')
INSERT [dbo].[Game] ([GameId], [CategoryId], [Name], [Price], [Description]) VALUES (2, 2, N'TITANFALL', CAST(2299.00 AS Decimal(16, 2)), N'Эта игра перенесет вас во вселенную, где малое противопоставляется большому, природа – индустрии, а человек – машине')
INSERT [dbo].[Game] ([GameId], [CategoryId], [Name], [Price], [Description]) VALUES (3, 2, N'Battlefield 4', CAST(899.40 AS Decimal(16, 2)), N'Battlefield 4 – это определяющий для жанра, полный экшена боевик, известный своей разрушаемостью, равных которой нет')
SET IDENTITY_INSERT [dbo].[Game] OFF
GO
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([GenreId], [Name]) VALUES (1, N'Триллер')
INSERT [dbo].[Genre] ([GenreId], [Name]) VALUES (2, N'Драма')
INSERT [dbo].[Genre] ([GenreId], [Name]) VALUES (3, N'Ужасы')
SET IDENTITY_INSERT [dbo].[Genre] OFF
GO
SET IDENTITY_INSERT [dbo].[Session] ON 

INSERT [dbo].[Session] ([SessionId], [FilmId], [HallId], [Price], [StartDate], [IsFilm3d]) VALUES (2, 1, 2, CAST(460 AS Decimal(4, 0)), CAST(N'2025-12-15T17:30:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Session] ([SessionId], [FilmId], [HallId], [Price], [StartDate], [IsFilm3d]) VALUES (3, 1, 4, CAST(350 AS Decimal(4, 0)), CAST(N'2025-11-20T19:00:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Session] ([SessionId], [FilmId], [HallId], [Price], [StartDate], [IsFilm3d]) VALUES (4, 2, 2, CAST(450 AS Decimal(4, 0)), CAST(N'2025-11-25T20:10:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Session] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([TicketId], [SessionId], [VisitorId], [Row], [Seat]) VALUES (1, 2, 5, 4, 5)
INSERT [dbo].[Ticket] ([TicketId], [SessionId], [VisitorId], [Row], [Seat]) VALUES (2, 2, 6, 5, 4)
INSERT [dbo].[Ticket] ([TicketId], [SessionId], [VisitorId], [Row], [Seat]) VALUES (3, 2, 7, 7, 4)
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[Visitor] ON 

INSERT [dbo].[Visitor] ([VisitorId], [Phone], [Name], [BirthDate], [Email]) VALUES (5, N'79210843455', N'Валерий', CAST(N'2007-12-02T00:00:00.0000000' AS DateTime2), N'valerka444@mail.ru')
INSERT [dbo].[Visitor] ([VisitorId], [Phone], [Name], [BirthDate], [Email]) VALUES (6, N'76851457787', N'Лера', CAST(N'2004-08-16T00:00:00.0000000' AS DateTime2), N'jillu@Outlook.com')
INSERT [dbo].[Visitor] ([VisitorId], [Phone], [Name], [BirthDate], [Email]) VALUES (7, N'79856586124', N'Женя', CAST(N'2005-06-24T00:00:00.0000000' AS DateTime2), N'meowl@outlook.su')
SET IDENTITY_INSERT [dbo].[Visitor] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CinemaHall]    Script Date: 27.11.2025 11:55:34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_CinemaHall] ON [dbo].[CinemaHall]
(
	[CinemaName] ASC,
	[HallId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Ticket]    Script Date: 27.11.2025 11:55:34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Ticket] ON [dbo].[Ticket]
(
	[SessionId] ASC,
	[Row] ASC,
	[Seat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Visitor]    Script Date: 27.11.2025 11:55:34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Visitor] ON [dbo].[Visitor]
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CinemaHall] ADD  CONSTRAINT [DF_CinameHall_CinameName]  DEFAULT ('Макси') FOR [CinemaName]
GO
ALTER TABLE [dbo].[CinemaUser] ADD  CONSTRAINT [DF_CinemaUser_FailTryAuthCount]  DEFAULT ((0)) FOR [FailTryAuthQuantity]
GO
ALTER TABLE [dbo].[DeletedCategory] ADD  CONSTRAINT [DF_DeletedCategory_DeletedDate]  DEFAULT (getdate()) FOR [DeletedDate]
GO
ALTER TABLE [dbo].[DeletedCategory] ADD  CONSTRAINT [DF_DeletedCategory_Login]  DEFAULT (original_login()) FOR [Login]
GO
ALTER TABLE [dbo].[DeletedVisitor] ADD  CONSTRAINT [DF_DeletedVisitor_DeletedDate]  DEFAULT (getdate()) FOR [DeletedDate]
GO
ALTER TABLE [dbo].[DeletedVisitor] ADD  CONSTRAINT [DF_DeletedVisitor_Login]  DEFAULT (original_login()) FOR [Login]
GO
ALTER TABLE [dbo].[Film] ADD  CONSTRAINT [DF_Film_Duration]  DEFAULT ((90)) FOR [Duration]
GO
ALTER TABLE [dbo].[Film] ADD  CONSTRAINT [DF_Film_ReleaseYear]  DEFAULT (datepart(year,getdate())) FOR [ReleaseYear]
GO
ALTER TABLE [dbo].[Film] ADD  CONSTRAINT [DF_Film_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Session] ADD  CONSTRAINT [DF_Session_Price]  DEFAULT ((200)) FOR [Price]
GO
ALTER TABLE [dbo].[Session] ADD  CONSTRAINT [DF_Session_DateTime]  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [dbo].[CinemaRolePrivilege]  WITH CHECK ADD  CONSTRAINT [FK_CinemaRolePrivilege_CinemaPrivilege] FOREIGN KEY([PrivilegeId])
REFERENCES [dbo].[CinemaPrivilege] ([PrivilegeId])
GO
ALTER TABLE [dbo].[CinemaRolePrivilege] CHECK CONSTRAINT [FK_CinemaRolePrivilege_CinemaPrivilege]
GO
ALTER TABLE [dbo].[CinemaRolePrivilege]  WITH CHECK ADD  CONSTRAINT [FK_CinemaRolePrivilege_CinemaUserRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[CinemaUserRole] ([RoleId])
GO
ALTER TABLE [dbo].[CinemaRolePrivilege] CHECK CONSTRAINT [FK_CinemaRolePrivilege_CinemaUserRole]
GO
ALTER TABLE [dbo].[CinemaUser]  WITH CHECK ADD  CONSTRAINT [FK_CinemaUser_CinemaUserRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[CinemaUserRole] ([RoleId])
GO
ALTER TABLE [dbo].[CinemaUser] CHECK CONSTRAINT [FK_CinemaUser_CinemaUserRole]
GO
ALTER TABLE [dbo].[FilmGenre]  WITH CHECK ADD  CONSTRAINT [FK_FilmGenre_Film] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([FilmId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[FilmGenre] CHECK CONSTRAINT [FK_FilmGenre_Film]
GO
ALTER TABLE [dbo].[FilmGenre]  WITH CHECK ADD  CONSTRAINT [FK_FilmGenre_Genre] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genre] ([GenreId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[FilmGenre] CHECK CONSTRAINT [FK_FilmGenre_Genre]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_Game_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_Game_Category]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_CinemaHall] FOREIGN KEY([HallId])
REFERENCES [dbo].[CinemaHall] ([HallId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_CinemaHall]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Film] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([FilmId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Film]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Session] ([SessionId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Session]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Visitor] FOREIGN KEY([VisitorId])
REFERENCES [dbo].[Visitor] ([VisitorId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Visitor]
GO
ALTER TABLE [dbo].[CinemaHall]  WITH CHECK ADD  CONSTRAINT [CK_CinemaHall_CinemaName] CHECK  (([CinemaName]='Русь' OR [CinemaName]='Титан-Арена' OR [CinemaName]='Макси'))
GO
ALTER TABLE [dbo].[CinemaHall] CHECK CONSTRAINT [CK_CinemaHall_CinemaName]
GO
ALTER TABLE [dbo].[CinemaHall]  WITH CHECK ADD  CONSTRAINT [CK_CinemaHall_RowsCount] CHECK  (([RowsCount]>(4) AND [RowsCount]<(31)))
GO
ALTER TABLE [dbo].[CinemaHall] CHECK CONSTRAINT [CK_CinemaHall_RowsCount]
GO
ALTER TABLE [dbo].[CinemaHall]  WITH CHECK ADD  CONSTRAINT [CK_CinemaHall_SeatsCount] CHECK  (([SeatsCount]>(4) AND [SeatsCount]<(31)))
GO
ALTER TABLE [dbo].[CinemaHall] CHECK CONSTRAINT [CK_CinemaHall_SeatsCount]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [CK_Ticket_Row] CHECK  (([Row]>(0)))
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [CK_Ticket_Row]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [CK_Ticket_Seat] CHECK  (([Seat]>(0)))
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [CK_Ticket_Seat]
GO
/****** Object:  Trigger [dbo].[TrDeleteFilm]    Script Date: 27.11.2025 11:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrDeleteFilm]
	ON [dbo].[Film]
	INSTEAD OF DELETE
	AS
		UPDATE Film
		SET IsDeleted = 1
		WHERE FilmId IN(SELECT FilmId
						FROM deleted);
GO
ALTER TABLE [dbo].[Film] DISABLE TRIGGER [TrDeleteFilm]
GO
/****** Object:  Trigger [dbo].[TrAddSessionPrice]    Script Date: 27.11.2025 11:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrAddSessionPrice]
ON [dbo].[Session]
INSTEAD OF INSERT
AS
BEGIN
	DECLARE @newPrice decimal(4,0)
	SET @newPrice=(SELECT Price
				   FROM inserted);
	IF (@newPrice<100)
		INSERT INTO [Session](FilmId, HallId, Price, StartDate, IsFilm3d)
		SELECT FilmId, HallId, 100, StartDate, IsFilm3d
		FROM inserted;
END;
GO
ALTER TABLE [dbo].[Session] DISABLE TRIGGER [TrAddSessionPrice]
GO
/****** Object:  Trigger [dbo].[TrAddTicket]    Script Date: 27.11.2025 11:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrAddTicket]
ON [dbo].[Ticket]
INSTEAD OF INSERT
AS
BEGIN
	DECLARE @ticketRow tinyint
	DECLARE @ticketSeat tinyint
	DECLARE @maxRow tinyint
	DECLARE @maxSeat tinyint

	SELECT @ticketRow = i.[Row], @ticketSeat = i.Seat
	FROM inserted i;

	SELECT @maxRow = h.RowsCount, @maxSeat = h.SeatsCount
	FROM CinemaHall h 
		JOIN [Session] s ON s.HallId = h.HallId
		JOIN Ticket t ON t.SessionId = s.SessionId
	IF (@ticketRow > @maxRow OR @ticketSeat > @maxSeat)
		THROW 50000, 'Номер ряда или места выше допустимого', 1
END;
GO
ALTER TABLE [dbo].[Ticket] DISABLE TRIGGER [TrAddTicket]
GO
/****** Object:  Trigger [dbo].[TrSaveEmail]    Script Date: 27.11.2025 11:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrSaveEmail]
    ON [dbo].[Visitor]
    AFTER UPDATE
    AS
		IF UPDATE(Email)
			INSERT INTO VisitorEmail(VisitorId, OldEmail)
			SELECT VisitorId, Email
			FROM deleted;
GO
ALTER TABLE [dbo].[Visitor] DISABLE TRIGGER [TrSaveEmail]
GO
/****** Object:  Trigger [dbo].[TrSaveVisitor]    Script Date: 27.11.2025 11:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrSaveVisitor]
    ON [dbo].[Visitor]
    AFTER DELETE
    AS
		INSERT INTO DeletedVisitor(VisitorId, Phone, [Name], BirthDate, Email)
		SELECT VisitorId, Phone, [Name], BirthDate, Email
		FROM deleted;
GO
ALTER TABLE [dbo].[Visitor] DISABLE TRIGGER [TrSaveVisitor]
GO
